@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&subset=cyrillic');

body {
  background: #ffffff url("/images/standard/bg.jpg");
  font-family: 'Lora', serif;
}

header {
  background-color: #333;
  padding: 0 !important;
}

footer .container{
  text-align: center;
  background-color: #40043d;
  color: #f2f2f2;
  padding: 15px;
}

footer a {
  color: #fba9fb
}
footer a:hover,
footer a:focus {
  color: #a9befb
}

#content {
  background: #ffffff;
}

#content .raw {
  padding: 20px 0;
}

h1 {
  margin-bottom: 0 !important;
  background: #a44170 url(../images/standard/h1-bg.png) repeat center center !important;
  color: #fff;
  padding: 10px 30px;
  text-transform: capitalize;
  margin: 0;
}

a {
  color: #eb27fd
}
a:hover,
a:focus {
  color: #fba9fb
}

.logo {
  vertical-align: bottom;
  width: 100%
}

.btn-warning {
  background-color: #d78f77;
  border-color: #da9881;
}
.btn-warning:hover,
.btn-warning:focus{
  background-color: #e29277;
  border-color: #ca9d8e;
}
.btn-danger {
  background-color: #9b4dca;
  border: 0.1rem solid #9b4dca;
}
.btn-danger:hover,
.btn-danger:focus{
  background-color: #606c76;
  border-color: #606c76;
}

@media(min-width: 1200px) {
  .container {
    width: 970px;
  }
}
