//- error.pug
extends layout.pug

block content
  p Такой страницы не существует
  p Если ты читаешь это сообщение, то ты попал на страницу, которая не существует. Давай разберёмся почему это могло произойти.
  if error.stack
    div(class="alert alert-success" role="alert")
      p Status: 
        strong #{error.status}
        |  #{error.message}
    pre= error.stack
  h2 Возможные причины:
  ul
    li Вы вводили ссылку на страницу и сделали ошибку
    li Страница была перемещена на другой адрес или удалена
    li На сайте есть какая-то поломанная ссылка в меню
    li Произошёл технический сбой и вам отдало ошибочный адрес
  h2 Решение:
  p Не стоит переживать! Просто 
    a(href="/" title="На главную") нажми сюда и перейди на главную
  hr
  div(class="alert alert-danger" role="alert")
    span(class="glyphicon glyphicon-star" aria-hidden="true")
    strong Вы можете очень помочь сайту
    br
    em Опишите, на что вы нажали и что сделали перед тем, как сюда попали. Спасибо!
